<div class="site-section" id="what-we-do-section">
  <div class="container">
    <div class="row no-gutters justify-content-center">
      <div class="col-lg-6 mb-5 person">
        <img src="./assets/images/abadi_old.jpg" alt="Image" class="img-fluid mb-5">

        <div class="row">
          <div class="col-lg-10 ml-auto">
            <div class="pr-lg-5">
              <h3>Abdullah aldowsry</h3>
              <p>Fresh graduate looking forward to proving my ability with the team to create modular solutions using latest technology and farmworkers.</p>
              <p>I am eager to learn and increase my knowledge to implement enterprise solution that follow best practices.</p>
              <p class="d-flex align-items-center">
                <span class="mr-3 text-black">Follow me:</span>
                <a href="https://twitter.com/abadi_aldosry" class="twitter pr-2 pt-2 pb-2 pl-0"><span class="icon-twitter"></span></a>
                <a href="https://www.instagram.com/abadi_aldowsry/" class="instagram p-2"><span class="icon-instagram"></span></a>
                <a href="https://www.linkedin.com/in/abdullah-aldowsry-9ba8b4143" class="linkedin p-2"><span class="icon-linkedin"></span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
